{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList Application</title>
    {% comment %} <link rel="stylesheet" href="{% static 'toDoList/style.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'toDoList/task_deleted.css' %}" >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:ital,wght@1,600&family=Lato&family=Pacifico&family=Titan+One&display=swap" rel="stylesheet">
</head>
<body>

    <div id="content">
        <h1>To Do List</h1>
        <div id="bloc-task">
            {% if tasks_deleted %}
            <h3>Task Deleted</h3>

                <table>
                    <tr>
                        <th>Id</th>
                        <th>Task title</th>
                        <th>Task creation date</th>
                        <th>Options</th>
                    </tr>
                    {% for task in tasks_deleted %}
                    <tr>
                        <td> {{task.id}} </td>
                        <td> {{task.task_text}} </td>
                        <td> {{task.date_creation}} </td>
                        <td id="options">
                            <a id="restore" href="{% url 'toDoList:restoreTask' task.id %}">Restore</a>
                            <a id="remove" href="{% url 'toDoList:removeDefinitelyTask' task.id %}">Remove definitely</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            {% else %}
                <div id="no-task">
                    No Task deleted in databases
                </div>
            {% endif %}
        </div>
        {% comment %} <a href="{% url '' %}">Task deleted</a> {% endcomment %}
        <div id="bottom">
            <a id="goHome" href="{% url 'toDoList:index' %}">Go to home page</a>
            <a id="deleteAlldefinitely" href="{% url 'toDoList:removeDefinitelyAllTask' %}">Delete definitely all tasks</a>
        </div>
    </div>
</body>
</html>