{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList Application</title>
    {% comment %} <link rel="stylesheet" href="{% static 'toDoList/style.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'toDoList/index.css' %}" >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:ital,wght@1,600&family=Lato&family=Pacifico&family=Titan+One&display=swap" rel="stylesheet">
</head>
<body>

    <div id="content">
        <h1>To Do List</h1>
        <h3>Task Deleted</h3>
        <div id="bloc-task">
            {% for task in tasks_deleted %}
                <div id="task">
                    <div class="left">
                        <div id="task_text">
                            {{task.task_text}}
                        </div>
                        <div id="task_date">
                            {{task.date_creation}}
                        </div>
                    </div>
                    <div class="right">
                        <a href="{% url 'toDoList:deleteTask' task.id %}" id="delete">
                            Restore
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% comment %} <a href="{% url '' %}">Task deleted</a> {% endcomment %}
        <a href="">Go to home page</a>
    </div>
</body>
</html>