*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100lvh; */
    height: 100vh;
    /* padding:30px; */
    font-family: Lato , sans-serif;
}

h1{
    font-size: 45px;
    margin-bottom: 15px;
}


a{
    /* height: 35px; */
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    border:none;
    padding: 8px;
    color:white;
    background-color: rgba(21, 21, 132, 0.893);
    font-weight: bold;
}
