*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100lvh; */
    height: 100vh;
    /* padding:30px; */
    font-family: Lato , sans-serif;
}

#content{
    border:solid 1px black;
    padding: 45px;
}

#content #bloc-task{
    display: flex;
    gap: 15px;
}